*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Footerbody{
    width: 100%;
    height: 100vh;
    /* margin-top:70px; */
    /* background-color: blueviolet; */
}

.smallfoot{
    width: 100%;
    height: 15%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7%;
}

.smallwrap{
    width: 78%;
    height: 100%;
    /* background-color: brown; */
    display: flex; 
    gap: 2px;
    /* flex-direction: row; */
}

.footbox{
    width: 25%;
    height: 100%;
    background-color:#f3f3f3;
    padding-left: 30px;
    padding-top: 2%;
    cursor: pointer;
    /* margin-top: 10%; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    
    /* align-items: center; */
    /* justify-content: center; */ 
}



.footbox h4{
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(40, 40, 40);
    
}

.footbox p{
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 18px;
    color: rgb(81, 84, 95);
}

.footermiddle{
    width: 100%;
    height: 15%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20%; */
    margin-bottom: 55px;

}

.middlewrap{
    width: 80%;
    height: 70%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    gap: 20%;
}

.fleft{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.fleft h3{
    padding-top: 18px;
    padding-left: 25px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(40, 40, 40);
}

.fleft p{
    padding-left: 25px;
    font-family:  "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 23.8px;
    color: rgb(81, 84, 95);

}


.fright{
    width: 40%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.fbtn{
    width: 30%;
    height: 55%;
    background-color: #fe4c50;
    color: #f3f3f3;
    border: none;
    cursor: pointer;
    transition: 2ms ease-in-out;
    /* font-family: "poppins" sans-serif; */
    /* font-size: 15px; */
    font-weight: 600;
    font-size: 15px;
}

button:hover{
    background-color: #eb8286;
}


.bum{
    width: 100%;
    height: 10%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bumwrap{
    width: 80%;
    height: 100%;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.top{
    width: 98%;
    height: 50%;
    /* background-color: aqua; */
    display: flex;
    
}

.side1{
    width: 50%;
    height: 100%;
    /* background-color: violet; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 15%;

}

li{
    list-style: none;
    cursor: pointer;
    font-family:  "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    color: #a09a9a;
    transition: 350ms ease-in-out;
}

li:hover{
    color: rgb(254, 76, 80);
}

.side2{
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: flex-end;
    gap: 10%;
    align-items: center;
    transition: 350ms ease-in-out;
    cursor: pointer;
}
.secondicon{
    font-size: 28px;
}

.secondicon:hover{
    color: rgb(254, 76, 80);
}



.bottom{
    width: 100%;
    height: 10%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.botwrap{
    width: 80%;
    height: 100%;
    /* background-color: peru; */
}

.botwrap h4{
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    color: rgb(81, 84, 95);
}

.span1{
    color: #fe4c77;
    cursor: pointer;
}

.span2{
    color: #fe4c77;
    cursor: pointer;
}


@media screen and (Width <=765px) {
    .Footerbody{
        width: 100%;
        height: 100vh;
        
    }

    
.smallfoot{
    width: 100%;
    height: 50%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7%;
   
}

.smallwrap{
    width: 78%;
    height: 100%;
    /* background-color: red; */
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    /* flex-direction: row; */
}

.footbox{
    width: 100%;
    height: 100%;
    background-color:#f3f3f3;
    padding-left: 30px;
    padding-top: 2%;
    cursor: pointer;

}


.footbox h4{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(40, 40, 40);
    
}

.footbox p{
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 18px;
    color: rgb(81, 84, 95);
}

.footermiddle{
    width: 100%;
    height: 45%;
    /* background-color: red; */
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20%; */
    margin-bottom: 55px;

}

.middlewrap{
    width: 80%;
    height: 70%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20%;
}


.fleft{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fleft h3{
    padding-top: 18px;
    padding-left: 25px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(40, 40, 40);
}

.fleft p{
    padding-left: 25px;
    font-family:  "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 23.8px;
    text-align: center;
    color: rgb(81, 84, 95);
}

.fright{
    width: 40%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    border: none;
}

.fbtn{
    width: 50%;
    height: 55%;
    background-color: #fe4c50;
    color: #f3f3f3;
    border: none;
    cursor: pointer;
    transition: 2ms ease-in-out;
    /* font-family: "poppins" sans-serif; */
    /* font-size: 15px; */
    font-weight: 600;
    font-size: 15px;
}

button:hover{
    background-color: #eb8286;
}

.bum{
    width: 100%;
    height: 30%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.bumwrap{
    width: 80%;
    height: 100%;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.top{
    width: 100%;
    height: 50%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.side1{
    width: 50%;
    height: 100%;
    /* background-color: violet; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 15%;

}

li{
    list-style: none;
    cursor: pointer;
    font-family:  "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    color: #a09a9a;
    transition: 350ms ease-in-out;
}

li:hover{
    color: rgb(254, 76, 80);
}

.side2{
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: flex-end;
    gap: 10%;
    align-items: center;
    transition: 350ms ease-in-out;
    cursor: pointer;
    padding-right: 100px;
}
.secondicon{
    font-size: 18px;
}

.secondicon:hover{
    color: rgb(254, 76, 80);
}


.bottom{
    width: 100%;
    height: 10%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.botwrap{
    width: 80%;
    height: 100%;
    /* background-color: peru; */
}

.botwrap h4{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    color: rgb(81, 84, 95);
}

.span1{
    color: #fe4c77;
    cursor: pointer;
}

.span2{
    color: #fe4c77;
    cursor: pointer;
}
    

}
@media screen and (width <=480px) {
    
    .Footerbody{
        width: 100%;
        height: 100vh;
    }

    
.smallfoot{
    width: 100%;
    height: 50%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7%;
   
}

.smallwrap{
    width: 78%;
    height: 100%;
    /* background-color: red; */
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    /* flex-direction: row; */
}

.footbox{
    width: 100%;
    height: 100%;
    background-color:#f3f3f3;
    padding-left: 30px;
    padding-top: 2%;
    cursor: pointer;

}


.footbox h4{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(40, 40, 40);
    
}

.footbox p{
    font-family: "Poppins", sans-serif;
    font-size: 9px;
    font-weight: 500;
    line-height: 18px;
    color: rgb(81, 84, 95);
}

.footermiddle{
    width: 100%;
    height: 40%;
    /* background-color: red; */
    /* background-color: #f2f2f2; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20%; */
    margin-bottom: 55px;

}

.middlewrap{
    width: 80%;
    height: 70%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15%;
}


.fleft{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fleft h3{
    /* padding-top: 10px; */
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(40, 40, 40);
}

.fleft p{
    /* padding-left: 25px; */
    font-family:  "Poppins", sans-serif;
    font-size: 9.5px;
    font-weight: 500;
    line-height: 23.8px;
    text-align: center;
    color: rgb(81, 84, 95);
}

.fright{
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    border: none;
}

.fbtn{
    width: 50%;
    height: 55%;
    background-color: #fe4c50;
    color: #f3f3f3;
    border: none;
    cursor: pointer;
    transition: 2ms ease-in-out;
    /* font-family: "poppins" sans-serif; */
    /* font-size: 15px; */
    font-weight: 600;
    font-size: 10px;
}

button:hover{
    background-color: #eb8286;
}

.bum{
    width: 100%;
    height: 30%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.bumwrap{
    width: 80%;
    height: 100%;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.top{
    width: 100%;
    height: 50%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.side1{
    width: 50%;
    height: 100%;
    /* background-color: violet; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 15%;

}

li{
    list-style: none;
    cursor: pointer;
    font-family:  "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    color: #a09a9a;
    transition: 350ms ease-in-out;
}

li:hover{
    color: rgb(254, 76, 80);
}

.side2{
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: flex-end;
    gap: 10%;
    align-items: center;
    transition: 350ms ease-in-out;
    cursor: pointer;
    padding-right: 50px;
}
.secondicon{
    font-size: 18px;
}

.secondicon:hover{
    color: rgb(254, 76, 80);
}


.bottom{
    width: 100%;
    height: 10%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.botwrap{
    width: 80%;
    height: 100%;
    /* background-color: peru; */
}

.botwrap h4{
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 30px;
    color: rgb(81, 84, 95);
}

.span1{
    color: #fe4c77;
    cursor: pointer;
}

.span2{
    color: #fe4c77;
    cursor: pointer;
}    

}
@media screen and (width <=320px) {
    
    .Footerbody{
        width: 100%;
        height: 100vh;
    }

    
.smallfoot{
    width: 100%;
    height: 50%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7%;
   
}

.smallwrap{
    width: 88%;
    height: 100%;
    /* background-color: red; */
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    /* flex-direction: row; */
}

.footbox{
    width: 100%;
    height: 100%;
    background-color:#f3f3f3;
    padding-left: 30px;
    padding-top: 2%;
    cursor: pointer;

}


.footbox h4{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(40, 40, 40);
    
}

.footbox p{
    font-family: "Poppins", sans-serif;
    font-size: 9px;
    font-weight: 500;
    line-height: 18px;
    color: rgb(81, 84, 95);
}

.footermiddle{
    width: 100%;
    height: 40%;
    /* background-color: red; */
    /* background-color: #f2f2f2; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20%; */
    margin-bottom: 55px;

}

.middlewrap{
    width: 90%;
    height: 80%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3%;
}


.fleft{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}

.fleft h3{
    /* padding-top: 10px; */
    font-family: "Poppins", sans-serif;
    font-size: 23px;
    font-weight: 500;
    line-height: 15px;
    color: rgb(40, 40, 40);
}

.fleft p{
    /* padding-left: 25px; */
    font-family:  "Poppins", sans-serif;
    font-size: 8px;
    font-weight: 500;
    line-height: 25.8px;
    text-align: center;
    color: rgb(81, 84, 95);
}

.fright{
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 5px; */
    flex-direction: column;
    border: none;
}
.fright >input{
    display: none;
}

.fbtn{
    width: 50%;
    height: 40%;
    background-color: #fe4c50;
    color: #f3f3f3;
    border: none;
    cursor: pointer;
    transition: 2ms ease-in-out;
    /* font-family: "poppins" sans-serif; */
    /* font-size: 15px; */
    font-weight: 600;
    font-size: 10px;
}

button:hover{
    background-color: #eb8286;
}

.bum{
    width: 100%;
    height: 30%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.bumwrap{
    width: 80%;
    height: 100%;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.top{
    width: 100%;
    height: 50%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.side1{
    width: 50%;
    height: 100%;
    /* background-color: violet; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 15%;

}

li{
    list-style: none;
    cursor: pointer;
    font-family:  "Poppins", sans-serif;
    font-size: 8px;
    font-weight: 400;
    line-height: 30px;
    color: #a09a9a;
    transition: 350ms ease-in-out;
}

li:hover{
    color: rgb(254, 76, 80);
}

.side2{
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: flex-end;
    gap: 10%;
    align-items: center;
    transition: 350ms ease-in-out;
    cursor: pointer;
    padding-right: 3px;
}
.secondicon{
    font-size: 14px;
}

.secondicon:hover{
    color: rgb(254, 76, 80);
}


.bottom{
    width: 100%;
    height: 10%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.botwrap{
    width: 80%;
    height: 100%;
    /* background-color: peru; */
}

.botwrap h4{
    font-family: "Poppins", sans-serif;
    font-size: 9px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(81, 84, 95);
}

.span1{
    color: #fe4c77;
    cursor: pointer;
}

.span2{
    color: #fe4c77;
    cursor: pointer;
}    

}